@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --bg-color: #171717;
  --main-color: #facc15;
  --sub-color: #cbd5e1;
  --sub-accent-color: #64748b;
  --text-color: #52525b;
  --mistake-color: #e11d48;
  --text-correct-color: #e4e4e7;
}

/* Global Styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html  {
  height: 100vh;
}

body {
  user-select: none;
  @apply font-mono;
}

.container {
  width: 100%;
  max-width: 1540px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */
.header {
  color: var(--sub-color);
}

/* Timer and Countdown */
.timer,
.words-countdown {
  color: var(--main-color);
}

/* Language Button */
.lang-btn {
  color: var(--main-color);
  transition: color 0.3s ease;
}

.lang-btn:hover {
  color: var(--sub-accent-color);
}

/* Words Container */
.words-container {
  overflow: visible clip;
  transition: all 0.15s ease;
}

.blur-warning {
  color: var(--sub-color);
}

/* Text Styles */
.base {
  color: var(--text-color);
  @apply font-semibold;
}

.correct {
  color: var(--text-correct-color);
  @apply font-semibold;
}

.incorrect {
  color: var(--mistake-color);
  @apply font-semibold;
}

/* Mode Styles */
.mode {
  background-color: var(--sub-accent-color);
  color: var(--sub-color);
}

.mode-btn {
  color: var(--sub-color);
}

.mode-active {
  color: var(--main-color);
}

/* Result Styles */
.result-left {
  p {
    color: var(--text-color);

    span {
      color: var(--main-color);
    }
  }
}

.result-footer {
  p {
    color: var(--text-color);

    span {
      color: var(--main-color);
    }
  }
}

/* Restart Button Styles */
.restart-btn::after {
  opacity: 0;
  visibility: hidden;
  content: "Restart";
  position: absolute;
  color: #fff;
  background-color: #101112;
  padding: 5px 20px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 120%);
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.restart-btn::before {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 10px;
  height: 10px;
  background-color: #101112;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 120%);
  transition: opacity 0.3s ease;
}

.restart-btn:hover::after,
.restart-btn:hover::before,
.restart-btn:focus::after,
.restart-btn:focus::before {
  opacity: 1;
  visibility: visible;
}

/* Chart Styles */
.chart-line {
  stroke: var(--main-color);
}

/* Command Tips */
.commands-tips {
  color: var(--sub-accent-color);
  font-size: 12px;
}

.commands-key {
  background-color: var(--sub-color);
  padding: 2px 5px;
}

/* Themes Sidebar */
.themes-sidebar {
  overflow-y: scroll;
  margin-top: -205px;
  margin-left: 10px;
  border: 1px solid var(--sub-color);
  padding: 25px 0;
  transform: translateY(50%);
}

.themes-sidebar::-webkit-scrollbar {
  display: none;
}

.themes-sidebar-wrapper {
  transform: translateX(0);
}

.themes-sidebar-wrapper.collapsed {
  transform: translateX(-240px);
}

.sidebar-arrow-btn {
  transition: transform 0.3s ease;
}

.sidebar-arrow-btn.rotated {
  rotate: 180deg;
}

.themes-sidebar-title {
  color: var(--main-color);
}

/* User Header */
.header-user {
  position: relative;
  z-index: 499;
}

/* Register Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 499;
}

.modal-form {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg-color);
}

.modal-field {
  border-radius: 5px;
  padding: 5px;
  color: var(--sub-color);
  background-color: var(--sub-accent-color);
}

.modal-field::placeholder {
  color: var(--sub-color);
}

.modal-title {
  color: var(--text-correct-color);
  font-size: 18px;
}

/* Keyboard Styles */
.keyboard-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.key {
  color: var(--sub-color);
  background-color: var(--sub-accent-color);
  font-size: 18px;
  border-radius: 5px;
  padding: 3px 10px;
}

.focus {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Caret*/
.caret-default {
  content: "";
  position: absolute;
  width: 2px;
  height: 2rem;
  top: 5%;
  left: -1px;
  opacity: 0.6;
  transition: transform 0.2s ease-out;
  animation: caret-animation 2s infinite;
  background-color: var(--main-color);
}

.caret-under {
  content: "";
  position: absolute;
  width: 16.5px;
  height: 2px;
  bottom: 0;
  left: -1px;
  opacity: 0.6;
  transition: transform 0.2s ease-out;
  background-color: var(--main-color);
}

.caret-block {
  content: "";
  position: absolute;
  width: 16.5px;
  height: 36px;
  bottom: 0;
  left: -1px;
  opacity: 0.6;
  transition: transform 0.2s ease-out;
  animation: caret-animation 2s infinite;
  background-color: var(--main-color);
}

.caret-rainbow {
  animation: rainbow 2s infinite;
}

/* Keyboard Animation */
.keyboard-animation {
  animation: keyboard-animation 0.3s ease-in-out;
}

/* Settings Styles */
.settings-title {
  position: relative;
  color: var(--main-color);
}

.settings-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--sub-color);
  left: 0;
  bottom: 0;
  transform: translateY(20px);
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.option-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-correct-color);
}

.option-desc {
  color: var(--sub-accent-color);
}

.option-btn {
  flex-grow: 1;
  color: var(--sub-color);
  padding: 10px 20px;
  background-color: var(--sub-accent-color);
  border-radius: 5px;
  filter: brightness(0.5);
  transition: filter 0.3s ease;
}

.option-btn:hover {
  filter: brightness(0.8);
}

.option-btn.active {
  color: var(--main-color);
  filter: brightness(1.1);
}

.option-buttons {
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 400px;
}

.language-modal {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 500;
}

.language-modal-content {
  margin-top: 100px;
  max-width: 400px;
  width: 100%;
  max-height: 800px;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.language-option {
  color: var(--main-color);
  cursor: pointer;
}

.language-option:hover {
  background-color: var(--sub-accent-color);
}

.language-search {
  caret-color: var(--main-color);
  color: var(--text-correct-color);
}

.themes {
  flex-direction: column;
  align-items: flex-start !important;
  gap: 10px;
}

.theme {
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.theme-btn {
  width: 290px;
  max-width: 290px;
  filter: brightness(1);
}

.words-history-title {
  color: var(--text-color)
}

.words::-webkit-scrollbar {
  width: 10px;
}

.words::-webkit-scrollbar-track {
  background: var(--bg-color);
  filter: brightness(0.9);
}

.words::-webkit-scrollbar-thumb {
  background: var(--sub-accent-color);
  border-radius: 5px;
}

/* Keyframes */
@keyframes keyboard-animation {
  0% {
    transform: scale(1);
    background-color: var(--sub-accent-color);
    box-shadow: 0 0 5px var(--sub-accent-color);
  }
  30% {
    transform: scale(1.2);
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
  }
  60% {
    transform: scale(0.9);
    background-color: var(--sub-accent-color);
    box-shadow: 0 0 5px var(--sub-accent-color);
  }
  100% {
    transform: scale(1);
    background-color: var(--sub-accent-color);
    box-shadow: none;
  }
}

@keyframes caret-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rainbow {
  0% {
    background-color: red;
  }
  16.67% {
    background-color: orange;
  }
  33.33% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  66.67% {
    background-color: blue;
  }
  83.33% {
    background-color: indigo;
  }
  100% {
    background-color: violet;
  }
}